@use "../extends/_extends_dir";

main {
    @include box(90%,94dvh);
    @include responsive(480px) {
        width:480px;
    }

    @extend .flexColumnCenterCenter;

    margin:auto;
    //padding: 5%;

    #background {
        @extend .absoluteTopLeft;
        object-fit: cover;
        z-index: -1;
        @include box(100%);
        @extend .backgroundImageDefault;
        filter:opacity(70%);
    }

    #bloc1 {
        @include box(100%,60%);
        display: flex;
        justify-content: center;
        align-items: end;

        #preview {
            @include box(100%);
            color: var(--colorText1);
            background-color: var(--color11);
            border-radius: 0% 50% 0% 50% / 0% 50% 0% 50%;
        }
    
        #celciusSelect {
            @include box(20%,15%);
            background-color: var(--color12);
            border-radius: 50% 0% 50% 0% / 50% 0% 50% 0%;
    
            @extend .flexCenterCenter;
    
            align-self: flex-end;
    
            cursor:pointer;
    
            img {
                height:50%;
                transition:0.3s;
            }
            img:hover {
                transform: scale(120%);
            }
        }
    }

    #bloc2 {
        @include box(100%,15%);
        display:flex;
        justify-content: center;
        align-items: start;

        #detailsSelect {
            margin-left: 51.4%;
            @include box(32%,100%);
            color:var(--colorText1);
            background-color: var(--color12);
            border-radius: 50% 0% 50% 0% / 50% 0% 50% 0%;
    
            @extend .flexColumnCenterCenter;
    
            cursor:pointer;
    
            img {
                height:25%;
                transition:0.3s;
            }
            img:hover {
                transform: scale(120%);
            }

            #goBack {
                height:50%;
            }
    
            
        }
    
        #fahrenheitSelect {
            @include box(15%,50%);
            background-color: var(--color13);
            border-radius: 0% 50% 0% 50% / 0% 50% 0% 50%;
    
            @extend .flexCenterCenter;
    
            cursor:pointer;
    
            img {
                height: 40%;
                transition:0.3s;
            }
            img:hover {
                transform: scale(120%);
            }
        }
    }

    #weekSelect {
        width:25%;
        margin-left: 27.2%;
        background-color: var(--color2);
        border-radius: 50% 0% 50% 0% / 50% 0% 50% 0%;
        align-self: flex-start;

        @extend .flexCenterCenter;

        cursor:pointer;

        img {
            height:50%;
            transition:0.3s;
        }
        img:hover {
            transform: scale(120%);
        }
    }
}