#weekView {
    @include box(60%,80%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top:-5%;
    left:13%;

    .weekViewContainer {
        @include box(100%,14%);
        display:flex;
        justify-content: space-between;
        align-items: center;

        padding: 3%;
        margin:1%;

        border-radius: 20px;
        transform:translateX(-16%);

        background-color: rgba(0, 0, 0, 0.178);

        .dateContainer {

            p {
                color:var(--colorText2);
            }
            
        }

        .tempContainer {

            .tempNight {
                color:var(--colorText2);
            }
        }
    }

    
}
#weekChartContainer {
    position: absolute;
    bottom:3%;
    right:3%;
    @include box(60%,auto);
}