#weekView {
    @include box(60%,80%);
    @extend .flexColumnCenterCenter;

    position: absolute;
    top:-5%;
    left:18%;

    .weekViewContainer {
        @include box(100%,12%);
        @extend .flexBetweenCenter;

        padding: 3%;
        margin:1%;

        border-radius: 20px;
        transform:translateX(-16%);

        background-color: rgba(0, 0, 0, 0.178);

        .dateContainer {

            p {
                color:var(--colorText2);
            }
            
        }

        .tempContainer {
            display: flex;

            div {
                font-size: 1.5rem;
            }

            .tempNight {
                font-size: 1rem;
                color:var(--colorText2);
            }
        }

        img {
            height:170%;
        }
    }

    
}
#weekChartContainer {
    position: absolute;
    bottom:3%;
    right:3%;
    @include box(60%,auto);
}