//Light
$color1Light:#69b2d9;
$color2Light:#209820;
$colorText1Light:#ffffff;
$colorText2Light:#19ecff;

//Dark
$color1Dark:#69b2d9;
$color2Dark:#209820;
$colorText1Dark:#ffffff;
$colorText2Dark:#19ecff;

