//Light
$color11Light:#69b2d9d7;
$color12Light:#4590b891;
$color13Light:#326f8fd5;
$color2Light:#209820dd;
$colorText1Light:#ffffff;
$colorText2Light:#19ecff;

//Dark
$color11Dark:#69b2d9;
$color12Dark:#4590b8;
$color13Dark:#326f8f;
$color2Dark:#209820;
$colorText1Dark:#ffffff;
$colorText2Dark:#19ecff;

